RewriteEngine On
RewriteBase /
Redirect 301 /.env https://aimedix.com/
Redirect 301 /app.js https://aimedix.com/
Redirect 301 /jwttoken.js https://aimedix.com/
Redirect 301 /swagger.json https://aimedix.com/
Redirect 301 /server.js https://aimedix.com/
Redirect 301 /passport.js https://aimedix.com/
Redirect 301 /routes/ https://aimedix.com/
Redirect 301 /routes2/ https://aimedix.com/
Redirect 301 /routes3/ https://aimedix.com/
Redirect 301 /models/ https://aimedix.com/
Redirect 301 /routes3/ https://aimedix.com/
Redirect 301 /schema/ https://aimedix.com/
Redirect 301 /keys/ https://aimedix.com/
Redirect 301 /config/ https://aimedix.com/
Redirect 301 /public/ https://aimedix.com/
Redirect 301 /lib/  https://aimedix.com/
Redirect 301 /regions.json https://aimedix.com/